@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,italic,700,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 370px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

summary {
  cursor: pointer;
}

a,
button,
textarea,
summary,
input,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #003366;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__close {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 13px;
  font-size: 22px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #003366;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.pop-advantages__title {
  margin-bottom: 1.25rem;
  position: relative;
  font-weight: 500;
  line-height: 119%;
}

.pop-advantages__text {
  font-weight: 400;
  line-height: 160%;
}

.pop-advantages__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.pop-advantages .pop-advantages__list {
  margin-left: 1.375rem;
}

.items-pop-advantages__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.items-pop-advantages__title {
  padding: 0.75rem 0.9375rem;
  background-color: rgba(255, 255, 255, 0.3215686275);
  border-radius: 1.25rem 1.25rem 0rem 0rem;
  font-weight: 500;
  line-height: 119%;
}

.items-pop-advantages__image-ibg {
  aspect-ratio: 300/150;
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  overflow: hidden;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  border-radius: 0.625rem;
  background-color: #100c46;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

/*Убрать полосу прокрутки для всей страницы*/

::-webkit-scrollbar {
  width: 0;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-item__title {
  text-align: center;
  padding-bottom: 0.625rem;
  position: relative;
  font-weight: 600;
  line-height: 119%;
  opacity: 0;
  -webkit-transform: translate(0, -30%);
      -ms-transform: translate(0, -30%);
          transform: translate(0, -30%);
  position: relative;
}

.title-item__title::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.09375rem;
  bottom: 0;
  left: 0;
  background-color: #56b6f6;
}

.title-item__title._watcher-view {
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.title-item__title._watcher-view::after {
  width: 100%;
  -webkit-transition: width 0.5s 0.3s;
  transition: width 0.5s 0.3s;
}

.text {
  font-weight: 400;
  line-height: 160%;
}

.text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.header {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  top: -100%;
  background-color: hsla(210, 54%, 11%, 0.2);
  height: 1.875rem;
  padding-block: 0.3125rem;
}

.header._main {
  -webkit-transition: height 0.5s, top 0.7s ease 1.3s;
  transition: height 0.5s, top 0.7s ease 1.3s;
}

.loaded .header {
  top: 0;
}

.header._watcher-view {
  height: 4.125rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__logo {
  padding: 0.625rem;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}

.header__logo img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.header__logo::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0099ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}

.menu__item {
  font-weight: 500;
  line-height: 100%;
  position: relative;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.hero {
  position: relative;
  z-index: 10;
  padding-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__container {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.hero__title-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9.375rem;
  opacity: 0;
  -webkit-transform: translate(0, -5%);
      -ms-transform: translate(0, -5%);
          transform: translate(0, -5%);
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  font-weight: 600;
  line-height: 119%;
  text-align: center;
  max-width: 41.875rem;
}

.hero__title.fade-out {
  opacity: 0;
}

.hero__title.fade-in {
  opacity: 1;
}

.hero__title.color {
  color: #fbd9aa;
}

.hero__title span {
  color: #56b6f6;
}

.hero__icon {
  opacity: 0;
  -webkit-transform: translate(0, -5%);
      -ms-transform: translate(0, -5%);
          transform: translate(0, -5%);
  overflow: hidden;
  position: relative;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-radius: 50%;
  background-color: #56b6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.loaded .hero__icon {
  -webkit-transition: opacity 0.7s ease 1.2s, -webkit-transform 0.7s ease 1.2s;
  transition: opacity 0.7s ease 1.2s, -webkit-transform 0.7s ease 1.2s;
  transition: opacity 0.7s ease 1.2s, transform 0.7s ease 1.2s;
  transition: opacity 0.7s ease 1.2s, transform 0.7s ease 1.2s, -webkit-transform 0.7s ease 1.2s;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.hero__icon svg {
  -webkit-transform: translate(0, 5%);
      -ms-transform: translate(0, 5%);
          transform: translate(0, 5%);
}

.hero__icon::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0099ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.hero__video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  -o-object-fit: cover;
     object-fit: cover;
}

.video-sections__video {
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.what {
  padding-bottom: 1.875rem;
}

.what__container {
  padding-bottom: 1.875rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 1.875rem;
}

.what__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem;
  text-align: center;
}

.what__list-item {
  border-radius: 0.9375rem;
  padding-block: 0.9375rem;
  padding-inline: 0.625rem;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: rgba(255, 255, 255, 0.1215686275);
}

.callback {
  -webkit-animation: bg 6s infinite;
          animation: bg 6s infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__container {
  padding-bottom: 1.875rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.callback__body {
  background-color: rgba(0, 0, 0, 0.4901960784);
  -webkit-animation: body 3s infinite;
          animation: body 3s infinite;
  text-align: center;
  max-width: 68.75rem;
}

.callback__text {
  line-height: 120%;
}

.callback__list {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.callback__item {
  line-height: 120%;
  font-size: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.callback__item a {
  color: aqua;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@-webkit-keyframes bg {
  0% {
    background-color: #2c3e50;
    /* темный оттенок синего/серого */
  }

  25% {
    background-color: #4a3f35;
    /* темный коричневый */
  }

  50% {
    background-color: #6a4e5f;
    /* глубокий фиолетово-серый */
  }

  75% {
    background-color: #8e7f92;
    /* темный серо-лавандовый */
  }

  100% {
    background-color: #2c3e50;
    /* возвращение к темному синему */
  }
}

@keyframes bg {
  0% {
    background-color: #2c3e50;
    /* темный оттенок синего/серого */
  }

  25% {
    background-color: #4a3f35;
    /* темный коричневый */
  }

  50% {
    background-color: #6a4e5f;
    /* глубокий фиолетово-серый */
  }

  75% {
    background-color: #8e7f92;
    /* темный серо-лавандовый */
  }

  100% {
    background-color: #2c3e50;
    /* возвращение к темному синему */
  }
}

@-webkit-keyframes body {
  0% {
    border-radius: 1.875rem 0;
  }

  50% {
    border-radius: 0 1.875rem;
  }

  100% {
    border-radius: 1.875rem 0;
  }
}

@keyframes body {
  0% {
    border-radius: 1.875rem 0;
  }

  50% {
    border-radius: 0 1.875rem;
  }

  100% {
    border-radius: 1.875rem 0;
  }
}

.indirect-metod {
  padding-top: 4.375rem;
  padding-bottom: 1.25rem;
}

.indirect-metod__container {
  padding-top: 1.875rem;
}

.indirect-metod__title {
  font-weight: 600;
  line-height: 119%;
  margin-bottom: 1.875rem;
}

.indirect-metod__row:not(:last-child) {
  margin-bottom: 2.5rem;
}

.row-metod__title {
  padding: 0.75rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.3215686275);
  border-radius: 0.3125rem;
  font-weight: 500;
  line-height: 119%;
  margin-bottom: 0.625rem;
}

.row-metod__text {
  padding-inline: 0.5rem;
}

.row-metod__list {
  padding-left: 1.4375rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 81.875em) {
  .pop-advantages__title {
    font-size: 1.75rem;
  }

  .pop-advantages__text {
    font-size: 1.25rem;
  }

  .items-pop-advantages__title {
    font-size: 1.5625rem;
  }

  .fp-bullets {
    right: 2.5rem;
  }

  .fp-bullets .fp-bullet {
    width: 1.25rem;
  }

  .fp-bullets .fp-bullet {
    height: 1.25rem;
  }

  .title-item:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .title-item__title {
    font-size: 2.1875rem;
  }

  .text {
    font-size: 1.375rem;
  }

  .header__logo {
    width: 3.125rem;
  }

  .menu__list {
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }

  .menu__item {
    font-size: 1.375rem;
  }

  .hero__container {
    padding-top: 9.375rem;
  }

  .hero__container {
    padding-bottom: 3.125rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__icon {
    width: 3.75rem;
  }

  .hero__icon svg {
    width: 2.5rem;
  }

  .what {
    padding-top: 3.75rem;
  }

  .what__list-item {
    font-size: 1.625rem;
  }

  .callback {
    padding-top: 3.75rem;
  }

  .callback__title-block {
    margin-bottom: 2.8125rem;
  }

  .callback__body {
    padding: 3.125rem;
  }

  .callback__text {
    font-size: 1.75rem;
  }

  .callback__text {
    margin-bottom: 1.875rem;
  }

  .callback__item {
    font-size: 1.375rem;
  }

  .indirect-metod__title {
    font-size: 2.1875rem;
  }

  .row-metod__title {
    font-size: 1.5625rem;
  }
}

@media (max-width: 81.875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }
}

@media (max-width: 69.375em) {
  .what__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 57.5em) {
  .fp-bullets {
    right: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }
}

@media (max-width: 34.6875em) {
  .callback__item span {
    display: none;
  }
}

@media (max-width: 23.125em) {
  .pop-advantages__title {
    font-size: 1.375rem;
  }

  .pop-advantages__text {
    font-size: 1.125rem;
  }

  .items-pop-advantages__title {
    font-size: 1.25rem;
  }

  .fp-bullets .fp-bullet {
    width: 0.9375rem;
  }

  .fp-bullets .fp-bullet {
    height: 0.9375rem;
  }

  .title-item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .title-item__title {
    font-size: 1.375rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .header__logo {
    width: 2.8125rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .menu__item {
    font-size: 1rem;
  }

  .hero__container {
    padding-top: 5rem;
  }

  .hero__container {
    padding-bottom: 3.125rem;
  }

  .hero__title {
    font-size: 2.1875rem;
  }

  .hero__icon {
    width: 3.125rem;
  }

  .hero__icon svg {
    width: 2.1875rem;
  }

  .what {
    padding-top: 1.875rem;
  }

  .what__list-item {
    font-size: 0.9375rem;
  }

  .callback {
    padding-top: 1.875rem;
  }

  .callback__title-block {
    margin-bottom: 1.875rem;
  }

  .callback__body {
    padding: 1.25rem;
  }

  .callback__text {
    font-size: 1.375rem;
  }

  .callback__text {
    margin-bottom: 1.5625rem;
  }

  .callback__item {
    font-size: 1.25rem;
  }

  .indirect-metod__title {
    font-size: 1.375rem;
  }

  .row-metod__title {
    font-size: 1.25rem;
  }
}

@media (min-width: 23.125em) and (max-width: 81.875em) {
@supports (font-size: clamp( 1.375rem , 1.227393617rem  +  0.6382978723vw , 1.75rem )) {
    .pop-advantages__title {
      font-size: clamp( 1.375rem , 1.227393617rem  +  0.6382978723vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.227393617rem  +  0.6382978723vw , 1.75rem )) {
    .pop-advantages__title {
      font-size: calc(1.375rem + 0.375 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0757978723rem  +  0.2127659574vw , 1.25rem )) {
    .pop-advantages__text {
      font-size: clamp( 1.125rem , 1.0757978723rem  +  0.2127659574vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0757978723rem  +  0.2127659574vw , 1.25rem )) {
    .pop-advantages__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1269946809rem  +  0.5319148936vw , 1.5625rem )) {
    .items-pop-advantages__title {
      font-size: clamp( 1.25rem , 1.1269946809rem  +  0.5319148936vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1269946809rem  +  0.5319148936vw , 1.5625rem )) {
    .items-pop-advantages__title {
      font-size: calc(1.25rem + 0.3125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (width: clamp( 0.9375rem , 0.8144946809rem  +  0.5319148936vw , 1.25rem )) {
    .fp-bullets .fp-bullet {
      width: clamp( 0.9375rem , 0.8144946809rem  +  0.5319148936vw , 1.25rem );
    }
}

@supports not (width: clamp( 0.9375rem , 0.8144946809rem  +  0.5319148936vw , 1.25rem )) {
    .fp-bullets .fp-bullet {
      width: calc(0.9375rem + 0.3125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (height: clamp( 0.9375rem , 0.8144946809rem  +  0.5319148936vw , 1.25rem )) {
    .fp-bullets .fp-bullet {
      height: clamp( 0.9375rem , 0.8144946809rem  +  0.5319148936vw , 1.25rem );
    }
}

@supports not (height: clamp( 0.9375rem , 0.8144946809rem  +  0.5319148936vw , 1.25rem )) {
    .fp-bullets .fp-bullet {
      height: calc(0.9375rem + 0.3125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.5059840426rem  +  1.5957446809vw , 2.8125rem )) {
    .title-item:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.5059840426rem  +  1.5957446809vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5059840426rem  +  1.5957446809vw , 2.8125rem )) {
    .title-item:not(:last-child) {
      margin-bottom: calc(1.875rem + 0.9375 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0551861702rem  +  1.3829787234vw , 2.1875rem )) {
    .title-item__title {
      font-size: clamp( 1.375rem , 1.0551861702rem  +  1.3829787234vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0551861702rem  +  1.3829787234vw , 2.1875rem )) {
    .title-item__title {
      font-size: calc(1.375rem + 0.8125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0265957447rem  +  0.4255319149vw , 1.375rem )) {
    .text {
      font-size: clamp( 1.125rem , 1.0265957447rem  +  0.4255319149vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0265957447rem  +  0.4255319149vw , 1.375rem )) {
    .text {
      font-size: calc(1.125rem + 0.25 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (width: clamp( 2.8125rem , 2.6894946809rem  +  0.5319148936vw , 3.125rem )) {
    .header__logo {
      width: clamp( 2.8125rem , 2.6894946809rem  +  0.5319148936vw , 3.125rem );
    }
}

@supports not (width: clamp( 2.8125rem , 2.6894946809rem  +  0.5319148936vw , 3.125rem )) {
    .header__logo {
      width: calc(2.8125rem + 0.3125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.2679521277rem  +  5.2127659574vw , 4rem )) or (column-gap: clamp( 0.9375rem , -0.2679521277rem  +  5.2127659574vw , 4rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.2679521277rem  +  5.2127659574vw , 4rem );
         -moz-column-gap: clamp( 0.9375rem , -0.2679521277rem  +  5.2127659574vw , 4rem );
              column-gap: clamp( 0.9375rem , -0.2679521277rem  +  5.2127659574vw , 4rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.2679521277rem  +  5.2127659574vw , 4rem )) or (column-gap: clamp( 0.9375rem , -0.2679521277rem  +  5.2127659574vw , 4rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 3.0625 * (100vw - 23.125rem) / 58.75);
         -moz-column-gap: calc(0.9375rem + 3.0625 * (100vw - 23.125rem) / 58.75);
              column-gap: calc(0.9375rem + 3.0625 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1rem , 0.852393617rem  +  0.6382978723vw , 1.375rem )) {
    .menu__item {
      font-size: clamp( 1rem , 0.852393617rem  +  0.6382978723vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.852393617rem  +  0.6382978723vw , 1.375rem )) {
    .menu__item {
      font-size: calc(1rem + 0.375 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (padding-top: clamp( 5rem , 3.2779255319rem  +  7.4468085106vw , 9.375rem )) {
    .hero__container {
      padding-top: clamp( 5rem , 3.2779255319rem  +  7.4468085106vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 5rem , 3.2779255319rem  +  7.4468085106vw , 9.375rem )) {
    .hero__container {
      padding-top: calc(5rem + 4.375 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 3.125rem  +  0vw , 3.125rem )) {
    .hero__container {
      padding-bottom: clamp( 3.125rem , 3.125rem  +  0vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 3.125rem  +  0vw , 3.125rem )) {
    .hero__container {
      padding-bottom: calc(3.125rem + 0 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.4740691489rem  +  3.085106383vw , 4rem )) {
    .hero__title {
      font-size: clamp( 2.1875rem , 1.4740691489rem  +  3.085106383vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.4740691489rem  +  3.085106383vw , 4rem )) {
    .hero__title {
      font-size: calc(2.1875rem + 1.8125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (width: clamp( 3.125rem , 2.8789893617rem  +  1.0638297872vw , 3.75rem )) {
    .hero__icon {
      width: clamp( 3.125rem , 2.8789893617rem  +  1.0638297872vw , 3.75rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.8789893617rem  +  1.0638297872vw , 3.75rem )) {
    .hero__icon {
      width: calc(3.125rem + 0.625 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (width: clamp( 2.1875rem , 2.0644946809rem  +  0.5319148936vw , 2.5rem )) {
    .hero__icon svg {
      width: clamp( 2.1875rem , 2.0644946809rem  +  0.5319148936vw , 2.5rem );
    }
}

@supports not (width: clamp( 2.1875rem , 2.0644946809rem  +  0.5319148936vw , 2.5rem )) {
    .hero__icon svg {
      width: calc(2.1875rem + 0.3125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1369680851rem  +  3.1914893617vw , 3.75rem )) {
    .what {
      padding-top: clamp( 1.875rem , 1.1369680851rem  +  3.1914893617vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1369680851rem  +  3.1914893617vw , 3.75rem )) {
    .what {
      padding-top: calc(1.875rem + 1.875 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.6668882979rem  +  1.170212766vw , 1.625rem )) {
    .what__list-item {
      font-size: clamp( 0.9375rem , 0.6668882979rem  +  1.170212766vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.6668882979rem  +  1.170212766vw , 1.625rem )) {
    .what__list-item {
      font-size: calc(0.9375rem + 0.6875 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1369680851rem  +  3.1914893617vw , 3.75rem )) {
    .callback {
      padding-top: clamp( 1.875rem , 1.1369680851rem  +  3.1914893617vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1369680851rem  +  3.1914893617vw , 3.75rem )) {
    .callback {
      padding-top: calc(1.875rem + 1.875 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.5059840426rem  +  1.5957446809vw , 2.8125rem )) {
    .callback__title-block {
      margin-bottom: clamp( 1.875rem , 1.5059840426rem  +  1.5957446809vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5059840426rem  +  1.5957446809vw , 2.8125rem )) {
    .callback__title-block {
      margin-bottom: calc(1.875rem + 0.9375 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (padding: clamp( 1.25rem , 0.5119680851rem  +  3.1914893617vw , 3.125rem )) {
    .callback__body {
      padding: clamp( 1.25rem , 0.5119680851rem  +  3.1914893617vw , 3.125rem );
    }
}

@supports not (padding: clamp( 1.25rem , 0.5119680851rem  +  3.1914893617vw , 3.125rem )) {
    .callback__body {
      padding: calc(1.25rem + 1.875 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.227393617rem  +  0.6382978723vw , 1.75rem )) {
    .callback__text {
      font-size: clamp( 1.375rem , 1.227393617rem  +  0.6382978723vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.227393617rem  +  0.6382978723vw , 1.75rem )) {
    .callback__text {
      font-size: calc(1.375rem + 0.375 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.4394946809rem  +  0.5319148936vw , 1.875rem )) {
    .callback__text {
      margin-bottom: clamp( 1.5625rem , 1.4394946809rem  +  0.5319148936vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.4394946809rem  +  0.5319148936vw , 1.875rem )) {
    .callback__text {
      margin-bottom: calc(1.5625rem + 0.3125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.2007978723rem  +  0.2127659574vw , 1.375rem )) {
    .callback__item {
      font-size: clamp( 1.25rem , 1.2007978723rem  +  0.2127659574vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.2007978723rem  +  0.2127659574vw , 1.375rem )) {
    .callback__item {
      font-size: calc(1.25rem + 0.125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0551861702rem  +  1.3829787234vw , 2.1875rem )) {
    .indirect-metod__title {
      font-size: clamp( 1.375rem , 1.0551861702rem  +  1.3829787234vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0551861702rem  +  1.3829787234vw , 2.1875rem )) {
    .indirect-metod__title {
      font-size: calc(1.375rem + 0.8125 * (100vw - 23.125rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1269946809rem  +  0.5319148936vw , 1.5625rem )) {
    .row-metod__title {
      font-size: clamp( 1.25rem , 1.1269946809rem  +  0.5319148936vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1269946809rem  +  0.5319148936vw , 1.5625rem )) {
    .row-metod__title {
      font-size: calc(1.25rem + 0.3125 * (100vw - 23.125rem) / 58.75);
    }
}
}

@media (min-width: 57.5em) and (max-width: 81.875em) {
@supports (right: clamp( 1.25rem , -1.6987179487rem  +  5.1282051282vw , 2.5rem )) {
    .fp-bullets {
      right: clamp( 1.25rem , -1.6987179487rem  +  5.1282051282vw , 2.5rem );
    }
}

@supports not (right: clamp( 1.25rem , -1.6987179487rem  +  5.1282051282vw , 2.5rem )) {
    .fp-bullets {
      right: calc(1.25rem + 1.25 * (100vw - 57.5rem) / 24.375);
    }
}
}

@media (any-hover: hover) {
  .popup__close:hover {
    color: rgb(255, 80, 80);
  }

  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }

  .header__logo:hover:before {
    width: 100%;
    height: 100%;
  }

  .hero__icon:hover:before {
    width: 100%;
    height: 100%;
  }

  .hero__icon:hover {
    -webkit-transform: translate(0rem, 5%);
        -ms-transform: translate(0rem, 5%);
            transform: translate(0rem, 5%);
  }

  .what__list-item:hover {
    background-color: rgba(0, 0, 0, 0.3215686275);
  }

  .callback__item a:hover {
    color: var(--gold);
  }
}